<!DOCTYPE html>
<html lang="en">

<head>
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="css/style.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
		integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NOU e-Gyan Portal</title>
</head>

<!--topbar1 start-->
<section id="topbar">
	<div class="container-fluid">
		<div class="row p-0 topbar">
			<div class="col-md-1"></div>
			<div class="col-md-6 topbar1 mt-2">
				<h5 style="color:#fff;font-size:.9rem;"> <i class="fa-bounce fa fa-phone text-light ms-3"></i> +91
					7080102007</h5>
				<h5 style="color:#fff;font-size:.9rem;"> <i class="fa-shake fa fa-envelope text-light ms-4"></i>
					nouegyanhelp@gmail.com </h5>
			</div>
			<div class="col-md-5 topbar2 mt-1">
				<div class="contact-info d-flex align-items-center my-1">
					<h5 id="p1" style="color:#fff;font-size:.9rem;">Sun Aug 25 2024 16:45:35 GMT+0530 (India Standard
						Time)</h5>
				</div>
			</div>
		</div>
		<div class="row p-0 topbar topbar1"
			style="color:#fff;font-size:.9rem; background-color:#8b0000;text-align:center;">
			<p style="padding-top:10px;">
				For Admission and Examination related query, Kindly call on University helpline Numbers
				9341508580,9341508577,0612-2201013 & 0612-2206916</p>
		</div>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-1 logo-img">
				<a href="index.html" class="mx-3">
					<img src="images/logo1.png" class="img-fluid" style="height:12vh">
				</a>
			</div>
			<div class="col-sm-6">
				<div class="text-area ms-4  mt-3">
					<h4>NOU e-Gyan PORTAL</h4>
					<h6>(A Concept by Nalanda Open University)</h6>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="contact-info d-flex my-4 px-3">
					<a href="#" class="twitter  me-2 "><i class="fa-brands fa-twitter fa-bounce px-2"
							style="color:#29aae1;"></i></a>
					<a href="#" class="facebook me-2"><i class="fa-brands fa-facebook fa-bounce px-2"
							style="color:#3f5c9a;"></i></a>
					<a href="#" class="instagram me-2"><i class="fa-brands fa-instagram fa-bounce px-2"
							style="color:#e8486d;"></i></a>
					<a href="#" class="linkedin me-2"><i class="fa-brands fa-linkedin fa-bounce px-2"
							style="color:#017cb5;"></i></a>
					<a href="#" class="youtube me-2"><i class="fa-brands fa-youtube fa-bounce px-2"
							style="color:#dc3541;"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>


<section id="hero" class="d-flex flex-column justify-content-end align-items-centre">
	<div id="heroCarousel" data-bs-interval="5000" class="container-fluid carousel carousel-fade"
		data-bs-ride="carousel">
		<div class="row top-bar rishta">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-4">
				<h4>WELCOME <span> STUDENTS</span></h4>
			</div>
			<div class="col-sm-7">
				<nav class="navbar navbar-expand-lg navbar-dark">
					<div class="container-fluid">
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
							data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNavDropdown">
							<ul class="navbar-nav mx-auto me-0">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink"
										role="button" data-bs-toggle="dropdown" aria-expanded="false">
										Home
									</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
										<li><a class="dropdown-item" href="#">Home</a></li>
										<li><a class="dropdown-item" href="#">About Portal</a></li>
									</ul>
								</li>
								<li class="nav-item">
									<a class="nav-link text-light" href="#"><i class="bi bi-book-half"></i>
										Courses</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-light" href="/registration"><i class="bi bi-textarea-t"></i>
										Register</a></a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-light" href="#"><i class="bi bi-mortarboard-fill"></i> Study
										Centre</a></a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink"
										role="button" data-bs-toggle="dropdown" aria-expanded="false">
										<i class="fa-spin fa fa-key"></i>Login
									</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
										
										<li><a class="dropdown-item" href="/adminlogin" target="_blank">Admin Login</a>
										</li>
										<li><a class="dropdown-item" href="/login" target="_blank">Student Login</a>
										</li>
									</ul>
								</li>
								<li class="nav-item">
									<a class="nav-link text-light" href="/contact"><i class="fa-spin fa fa-phone"></i>
										Contact</a></a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>

		<div class="container ">

			<div class="carousel-item active">
				<div class="carousel-container">
					<h3 class="animate__animated animate__fadeInDown">Get Educated</h2>
						<h2 class="animate__animated animate__fadeInUp">From Our Content<br />
							<span class="animate__animated animate__fadeInDown">For Distance Learning </span>
						</h2>
						<h4 class="animate__animated fanimate__adeInUp">NOU-e-Gyan PORTAL, CONCEPT BY NALANDA OPEN
							UNIVERSITY</h4>
				</div>
			</div>

			<div class="carousel-item">
				<div class="carousel-container">
					<h3 class="animate__animated animate__fadeInDown">Get Educated</h2>
						<h2 class="animate__animated animate__fadeInUp">From Our Content<br />
							<span class="animate__animated animate__fadeInDown">For Distance Learning </span>
						</h2>
						<h4 class="animate__animated fanimate__adeInUp">NOU-e-Gyan PORTAL, CONCEPT BY NALANDA OPEN
							UNIVERSITY</h4>
				</div>
			</div>

			<div class="carousel-item">
				<div class="carousel-container">
					<h3 class="animate__animated animate__fadeInDown">Get Educated</h2>
						<h2 class="animate__animated animate__fadeInUp">From Our Content<br />
							<span class="animate__animated animate__fadeInDown">For Distance Learning </span>
						</h2>
						<h4 class="animate__animated fanimate__adeInUp">NOU-e-Gyan PORTAL, CONCEPT BY NALANDA OPEN
							UNIVERSITY</h4>
				</div>
			</div>
			<a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
				<span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
			</a>
			<a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
				<span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
			</a>
		</div>
	</div>
	</div>
</section>
<section class="notice">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<marquee scrollamount="12" onmousemove="this.stop()" onmouseout="this.start()">
					<p class="ab-box me-3">The portal is easy to access & highly user <br />friendly for the students &
						study centres.</p>
					<p class="ab-box me-3">The portal is fully secured and accessible <br />24 x 7 to its authorised
						users.</p>
					<p class="ab-box">The portal is easy to access & highly user<br /> friendly for the students & study
						centres.</p>
				</marquee>
			</div>
		</div>
	</div>
</section>
<!--description start-->
<main id="main">
	<section id="about" class="about">
		<div class="container">
			<div class="section-title" data-aos="zoom-out" >
				<h2>Description</h2>
				<p>About <span>NOU <span style="  text-transform: lowercase;">e</span>-Gyan Portal </span></p>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row content" data-aos="fade-up">
				<div class="col-sm-1"></div>
				<div class="col-lg-6">
					<p>
						<strong> Nalanda Open University </strong> welcomes all our students, faculties & study
						centres to the very new & innovative online study portal <strong>NOU e-Gyan</strong>. The
						portal is a unique initiative by Hon'ble Vice-Chancellor <strong>Prof. (Dr.) K C
							Sinha</strong>, which aims at providing online study material to the students of NOU.
						<br /><br />
						The portal is accessible from any hook and corner of the world if the system allows the
						permission to its users. It is also fully secured and accessible 24 x 7 to its authorised
						users. It will resolve the academic issues such as E-content Distribution, Delivery,
						Tracking, Assessment, Progress Monitoring & Controlling of all stakeholders of the system
						i.e. students, teachers, study centre administrators as well as Nalanda Open University
						Admins when they are at a distance.
					</p>
				</div>
				<div class="col-sm-1"></div>
				<div class=" col-sm-4 mx-3 mx-lg-0" data-aos="zoom-in"
					style="background:linear-gradient(-15deg,rgba(255,255,255,.4),rgba(0,0,0,.7)),url(images/slider1.jpeg);min-height:55vh;background-repeat:no-repeat;background-size:100% 100%;">
					<div class="video-box d-flex justify-content-centre align-items-stretch position-relative me-4">
						<a href="https://youtu.be/jVl8uLz8f9w" class=" play-btn " data-lity
							data-lity-target="https://youtu.be/jVl8uLz8f9w"></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--description end-->

	<!--features start-->
	<section class="portal">

		<div class="row">
			<div class="section-title py-0 mx-5 px-5">
				<h2>Portal</h2>
				<p>Users <span> of the Portal</span></p>
			</div>
			<div class="col-sm-10 mx-auto">

				<div class="row mt-5 " style="margin:0px auto;">
					<div class="col-sm-4 mt-3 mt-lg-0 px-4">
						<div class="card_outer">
							<div class="card_box pb-3">
								<div class="card_content">
									<span class="fa fa-lock services_ic"
										style="padding:15px 20px 15px 20px;margin-top:-.5rem;"></span>
									<h2>01</h2>
									<p class="txt">The university admin can login to monitor the portal,
										provide access to authorised stake holders & upload study material.
									</p>
									<div class="st-c mt-5">
										<a href="http://dls.nouegyan.in/" target="_blank">University
											Admin</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4 mt-5 mt-lg-0 px-4">
						<div class="card_outer">
							<div class="card_box pb-3 ">
								<div class="card_content mb-3 ">
									<span class="fa fa-book services_ic mt-4"></span>
									<h2>02</h2>
									<p class="txt">
										The study centres authorised personnel can login to track students
										progress, enroll students, schedule assignments & generate reports.
									</p>
									<div class="st-c">
										<a href="http://dls.nouegyan.in/" target="_blank">Study centre</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4 px-4 mt-5 mt-lg-0">
						<div class="card_outer">
							<div class="card_box pb-3">
								<div class="card_content">
									<span class="fa fa-users services_ic mt-3"></span>
									<h2>03</h2>
									<p class="txt ">
										The university enrolled students can login to view the notification
										by university, access the e-contents, give assignments & track thier
										progress report.</p>
									<div class="st-c mb-4 mb-lg-0">
										<a href="http://dls.nouegyan.in/" target="_blank">NOU Students</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</section>


	<!--features end-->

	<!--services start-->
	<section class="services">
		<div class="container">
			<div class="row">
				<div class="section-title">
					<h2>Features</h2>
					<p>Student <span>Services</span></p>
				</div>
				<div class="col-sm-3">
					<div class="image1 mx-5 mx-lg-0">
						<img src="images/registration.jpg" class="img-fluid">
					</div>
					<div class="text">
						<h4>Login</h4>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="image1 mx-5 mx-lg-0">
						<img src="images/dashboard.jpg" class="img-fluid">
					</div>
					<div class="text">
						<h4>Dashboard</h4>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="image1 mx-5 mx-lg-0">
						<img src="images/online-courses.jpg" class="img-fluid">
					</div>
					<div class="text">
						<h4>Self Learning Material (SLM)</h4>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="image1 mx-5 mx-lg-0">
						<img src="images/e-lectures.jpg" class="img-fluid ">
					</div>
					<div class="text">
						<h4>e-Books</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="image1 mx-5 mx-lg-0" style="height: 75%;">
						<img src="images/self-assessment.svg" class="img-fluid p-5">
					</div>
					<div class="text">
						<h4>Self-Assessment Tools</h4>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="image1 mx-5 mx-lg-0">
						<img src="images/performance.jpg" class="img-fluid pb-2">
					</div>
					<div class="text">
						<h4>Performance</h4>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="image1 mx-5 mx-lg-0">
						<img src="images/feedback.jpg" class="img-fluid pb-2">
					</div>
					<div class="text">
						<h4>Feedback</h4>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="image1 mx-5 mx-lg-0">
						<img src="images/course-catlog.jpg" class="img-fluid pb-2">
					</div>
					<div class="text">
						<h4>Courses-Catalogue</h4>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!--services end-->

	<!-- our mentors start-->
	<section id="team" class="team">
		<div class="container">
			<div class="section-title" data-aos="zoom-out">
				<h2>Our Mentors</h2>
				<p>Administrative <span>Setup </span></p>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
					<div class="member mx-5 mx-lg-0" data-aos="fade-up">
						<div class="member-img">
							<img src="images/vc.jpg" class="img-fluid mx-5 mt-3" alt>
							<div class="social">
								<h4>Prof. (Dr.) K. C. Sinha </h4>
								<span>VICE CHANCELLOR</span>
							</div>
						</div>
						<div class="member-info">
							<h4>Prof. (Dr.) K. C. Sinha </h4>
							<span>VICE CHANCELLOR</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
					<div class="member mx-5 mx-lg-0" data-aos="fade-up" data-aos-delay="100">
						<div class="member-img">
							<img src="images/pvc.jpg" class="img-fluid mx-5 mt-3" alt>
							<div class="social">
								<h4>Prof. (Dr.) Sanjoy Kumar</h4>
								<span>PRO VICE CHANCELLOR</span>
							</div>
						</div>
						<div class="member-info">
							<h4>Prof. (Dr.) Sanjoy Kumar</h4>
							<span>PRO VICE CHANCELLOR</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
					<div class="member mx-5 mx-lg-0" data-aos="fade-up" data-aos-delay="200">
						<div class="member-img">
							<img src="images/registrar1.jpeg" class="img-fluid mx-5 mt-3" alt>
							<div class="social">
								<h4>Dr. Md. Habibur Rahman</h4>
								<span>REGISTRAR</span>
							</div>
						</div>
						<div class="member-info">
							<h4> Dr. Md. Habibur Rahman</h4>
							<span>REGISTRAR</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
					<div class="member mx-5 mx-lg-0" data-aos="fade-up" data-aos-delay="300">
						<div class="member-img">
							<img src="images/examreg.jpg" class="img-fluid mx-5 mt-3" alt>
							<div class="social">
								<h4>Dr. Neelam Kumari</h4>
								<span>REGISTRAR (Exam)</span>
							</div>
						</div>
						<div class="member-info">
							<h4>Dr. Neelam Kumari</h4>
							<span>REGISTRAR (Exam)</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- our mentors end-->

	<!--testimonals start-->

	<section id="testimonials" class="testimonials  pt-0">
		<div class="container mt-2">
			<div class="section-title" data-aos="zoom-out">
				<h2>Courses</h2>
				<p>Our <span>Courses</span></p>
				<div class="courses-btn text-end"><a href="courses.php">View All Courses</a></div>
			</div> 
			<div class="col-sm-12">
			<div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
				<div class="swiper-wrapper">
					
						<div class="col-sm-1"></div>			
						<div class="col-sm-4">
					<div class="swiper-slide">
						<div class="testimonial-item">
							<img src="images/bba.png" class="testimonial-img" alt>
							<h3>Bachelor in Business Administration (BBA)</h3>
							<span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
								<i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
						</div>
					</div>
					</div>
					<div class="col-sm-4">
					<div class="swiper-slide">
						<div class="testimonial-item">
							<img src="images/bca.png" class="testimonial-img" alt>
							<h3>Bachelor in Computer Application (BCA)</h3>
							<span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
								<i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
						</div>
					</div>
					</div>
					<div class="col-sm-4">
					<div class="swiper-slide">
						<div class="testimonial-item">
							<img src="images/mca.png" class="testimonial-img" alt>
							<h3>Master In Computer Application<br /> (M.C.A.)</h3>
							<span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
								<i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
						</div>
					</div>
					</div>
								
					<div class="swiper-slide">
						<div class="testimonial-item">
							<img src="images/pgdfm.png" class="testimonial-img" alt>
							<h3>PG Diploma in Financial Management (PGDFM)</h3>
							<span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
								<i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
						</div>
					</div>					
					<div class="swiper-slide">
						<div class="testimonial-item">
							<img src="images/cid.png" class="testimonial-img" alt>
							<h3>Certification in Interior Decoration (CID)</h3>
							<span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
								<i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
						</div>
					</div>									
				<div class="swiper-pagination"></div>
			</div>
			</div>
			</div>
		</div>
	</section>

	<!--testimonals end-->

	<!--how to use start-->
	<section id="cta" class="cta p-0">
		<div class="container">
			<div class="row py-4" data-aos="zoom-out">
				<div class="section-title pb-1">
					<h2>How to use</h2>
					<p style="color:#fff">NOU <span style="  text-transform: lowercase;color:#fff">e</span>-Gyan
						Portal Tutorial Videos</p>
				</div>
				<p>For any queries regarding the access into the Portal, the users can watch the tutorial videos
					provided or feel free to communicate their issues via the given contact helpline number or
					helpline email ID.</p>
				<div class="col-lg-6 text-center text-lg-start">
					<div class="video-1 text-center">
						<iframe width="500" height="280" src="https://www.youtube.com/embed/Sh9VxOBoYbk"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>

						<a href="#" class="cta-btn">How to login at NOU <span
								style="color:#fff;text-transform: lowercase;"></span>e-Gyan Portal</a>
					</div>
				</div>
				<div class="col-lg-6 text-center text-lg-start">
					<div class="video-1 text-center">
						<iframe width="500" height="280" src="https://www.youtube.com/embed/cEaTY8EfdRs"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>

						<a href="#" class="cta-btn">How to access content at NOU <span
								style="color:#fff;text-transform: lowercase;"></span>e-Gyan Portal</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--how to use end-->

	<!--features start-->
	<section id="features" class="features">
		<div class="container mt-2">
			<div class="row">
				<div class="section-title">
					<h2>Helpdesk</h2>
					<p>Always <span>here to support you!</span></p>
				</div>
				<div class="col-sm-6">
					<img src="images/helpline.svg" class="img-fluid" style="height:50vh;">
				</div>
				<div class="col-sm-6">
					<ul class="nav nav-tabs">
						<li class="nav-item" data-aos="zoom-in">
							<a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
								<p>The help desk provides user assistance to navigate and understand the aspects of
									the portal. This also provides a simple interface for maintenance
									of student information and issues faced.
								</p>
							</a>
						</li>
					</ul>
					<ul class="nav nav-tabs row">
						<li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
							<a class="nav-link" data-bs-toggle="tab" href="#tab-3">
								<h4> <i class="fa fa-phone"></i> +91 7080102007</h4>
							</a>
						</li>
						<li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
							<a class="nav-link" data-bs-toggle="tab" href="#tab-4">
								<h4> <i class="fa fa-envelope "></i>nouegyanhelp@gmail.com</h4>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<!--features end-->

	<!--testimonals2 start-->
	<section class="testimonial mb-2">
		<div class="container">
			<div class="row">
				<div class="section-title">
					<h2>Links</h2>
					<p>Quick <span>Links</span></p>
				</div>
				<div class="col-sm-12">
					<div class="col-sm-1"></div>
					
					<div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
						<div class="swiper-wrapper">
							<div class="col-sm-4 px-2">
							<div class="swiper-slide quick-link1">
								<div class="quick-link">
									<a href="http://www.nou.ac.in/examination.html" target="_blank"><img
											src="images/logo1.png" class="testimonial-img" alt></a>
								</div>
								<div class="txt-1">
									<h4>NOU</h4>
									<h5>Nalanda Open University </h5>
								</div>
							</div>
							</div>
							

							<div class="col-sm-4 px-2">
							<div class="swiper-slide quick-link1">
								<div class="quick-link">
									<a href="http://bshec.in/" target="_blank"> <img src="images/logo2.png"
											class="testimonial-img" alt></a>
								</div>
								<div class="txt-1">
									<h4>BSHEC</h4>
									<h5> Bihar State Higher Education Council</h5>
								</div>
							</div>
							</div>

							<div class="col-sm-4 px-2">
							<div class="swiper-slide quick-link1">
								<div class="quick-link">
									<a href="https://www.ugc.ac.in/" target="_blank"> <img src="images/logo3.png"
											class="testimonial-img" alt></a>
								</div>
								<div class="txt-1">
									<h4>UGC</h4>
									<h5>University Grants Commission</h5>
								</div>
							</div>
							</div>

							<div class="col-sm-4 px-2">
							<div class="swiper-slide quick-link1">
								<div class="quick-link">
									<a href="https://state.bihar.gov.in/dst/CitizenHome.html" target="_blank"> <img
											src="images/logo2.png" class="testimonial-img" alt></a>
								</div>
								<div class="txt-1">
									<h4>STD</h4>
									<h5>Science & Technology Department </h5>
								</div>
							</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--testimonals 2 end-->



	<!--feedback start-->
	<section class="spacer">
		<div class="container py-4">
			<div class="section-title">
				<h2>Feedback</h2>
				<p>Feedback <span>From Our Students</span></p>
			</div>
			<div class="row">
				<div class="col-sm-12 pt-3 mt-3 supporter-main">
					<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-indicators">
							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
								class="active" aria-current="true" aria-label="Slide 1"></button>
							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
								aria-label="Slide 2"></button>
							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
								aria-label="Slide 3"></button>
							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
								aria-label="Slide 4"></button>
						</div>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="supporter container">
									<div class="row">
										<div class="col-sm-1">
										</div>
										<div class="col-sm-2">
											<div style="height:150px; width:150px;">
												<img src="images/t4.jpg" alt style="height:100%; width:100%;">
											</div>
										</div>
										<div class="col-sm-9 supt-txt">
											<p>“This is best and biggest unified platform
												for instant online learning. We can easily
												access any content of our enrolled course from the portal. Thank you
												NOU e-Gyan!!“</p>
											<h6>-Rani Verma-</h6>
											<h6>University Student</h6>
										</div>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="supporter container">
									<div class="row">
										<div class="col-sm-1">
										</div>
										<div class="col-sm-2">
											<div style="height:150px; width:150px;">
												<img src="images/t3.webp" alt style="height:100%; width:100%;">
											</div>
										</div>
										<div class="col-sm-9">
											<p> “This is best and biggest unified platform
												for instant online learning. We can easily
												access any content of our enrolled course from the portal. Thank you
												NOU e-Gyan!!“</p>
											<h6>-Saurabh Tripathi-</h6>
											<h6>University Student</h6>
										</div>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="supporter container">
									<div class="row">
										<div class="col-sm-1">
										</div>
										<div class="col-sm-2">
											<div class="supt-img" style="height:150px; width:150px;">
												<img src="images/t1.jpg" alt style="height:100%; width:100%;">
											</div>
										</div>
										<div class="col-sm-9">
											<p>“This is best and biggest unified platform
												for instant online learning. We can easily
												access any content of our enrolled course from the portal. Thank you
												NOU e-Gyan!!“</p>
											<h6>-Avanish Sharma-</h6>
											<h6>University Student</h6>
										</div>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="supporter container">
									<div class="row">
										<div class="col-sm-1">
										</div>
										<div class="col-sm-2">
											<div style="height:150px; width:150px;">
												<img src="images/t2.jpg" alt style="height:100%; width:100%;">
											</div>
										</div>
										<div class="col-sm-9">
											<p>“This is best and biggest unified platform
												for instant online learning. We can easily
												access any content of our enrolled course from the portal. Thank you
												NOU e-Gyan!!“</p>
											<h6>-Krishna Kumari-</h6>
											<h6>University Student</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden" style="color:red;">Next</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>

</main>

<!--feedback end-->

<!--footer start-->

<footer id="dk-footer" class="dk-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 footer-about text-center">
				<a href="index.php" class="footer-img">
					<img src="images/logo1.png" alt="footer_logo" class="img-fluid">
				</a>
				<p class="text-justify">
					Nalanda Open University is a State Open University duly established under the Act of Bihar
					Government and is also recognized by Distance Education Council, IGNOU, Maidan Garhi, New
					Delhi.
				</p>
				<ul class="my-footer-link ps-0 text-center" style="list-style:none;">
					<li>
						<a href="#">
							<i class="fa-brands fa-twitter fa-bounce"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa-brands fa-facebook fa-bounce"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa-brands fa-instagram fa-bounce"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa-brands fa-linkedin fa-bounce"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa-brands fa-youtube fa-bounce"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-3 my-useful">
				<h3>Useful Links</h3>
				<span class="animate-border border-black mb-4"></span>
				<ul>
					<li>
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">About Portal</a>
					</li>
					<li>
						<a href="#">Services</a>
					</li>
					<li>
						<a href="#">Contact us</a>
					</li>
					<li>
						<a href="#">Courses</a>
					</li>
					<li>
						<a href="#">Study Centre</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-3 con-info">
				<h3>Contact info</h3>
				<span class="animate-border border-black mb-4"></span>
				<h3 class="con-info-add"><i class="bi bi-geo-alt-fill"></i> NOU</h3>
				<p>2nd/3rd Floor, Biscomaun Bhawan, Gandhi Maidan, Patna 800 001 (BIHAR).</p>
				<br>
				<h3 class="con-info-add"><i class="fa fa-volume-control-phone"></i> +91 7080102007</h3>
				<p>Give us a call</p>
			</div>
			<div class="col-lg-3 my-subs">
				<h3>Subscribe</h3>
				<span class="animate-border border-black mb-4"></span>
				<p>Fill the detail below to receive the manual of the NOU e-Gyan Portal </p>
				<form action="#">
					<div class="form-row">
						<div class="col dk-footer-form">
							<input type="email" class="form-control" placeholder="Email Address">
							<button type="submit">
								<i class="fa fa-send"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 p-0">
				<div class="copyright">
					<div class="container">
						<div class="row">
							<div class="col-md-12 text-center">
								<p style="color:white;" class="m-1">
									&copy; Copyright
									<script data-cfasync="false"
										src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
									<script type="text/javascript">
										var d = new Date();
										document.write(d.getFullYear());
									</script>
									Designed & Developed By | <a target="_blank" href="http://www.softproindia.in/"
										style="color:white;">Softpro India
										Computer Technologies (P) Ltd.</a>
								</p>
							</div>
						</div>
					</div>
				</div><a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
						class="fa-solid fa-arrow-up"></i></a>
			</div>
		</div>
	</div>
</footer>
<!--footer end-->

<script src="js/script.js"></script>
</body>

</html>